*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header Section */

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003049;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-btn, .logo{
    text-decoration: none;
    text-transform: uppercase;
    color: #ccd6db;
    font-weight: 700;
}

.nav-btn:hover,
.logo:hover{
    color: #99ccff;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navigation ul li{
    list-style: none;
}

.sign-up__btn{
    padding: 10px 12px;
    border: solid 1px #ccd6db;
    border-radius: 6px;
    background-color: #ccd6db;
    color: #003049;
    transition: 300ms;
}

.sign-up__btn:hover{
    background-color: #003049;
}

/* Hero -section */
.hero-section{
    padding: 2rem 4rem;
    background-color: #003049;
    text-align: center;
}

.hero-title{
    font-size: 3.4rem;
    color: #ccd6db;
}

.hero-text{
    color: #ccd6db;
    font-size: 1.5rem;
}

.hero-btns{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.btn{
    text-decoration: none;
    padding: 0.8rem 1.4rem;
    border: 1px solid #ccd6db;
    color: #ccd6db;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 300ms;
}

.btn:hover{
    background-color: #ccd6db;
    color: #003049;
}

.main-btn{
    color: #002233;
    background-color: #ccd6db;
}

.main-btn:hover{
    background-color: #fff;
    color: #002233;
}

/* Features Section */
.feature-section{
    padding: 1rem 4rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    gap: 2rem;
}

.feature-card{
    width: 16rem;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.feature-section svg{
    height: 4rem;
    width: 4rem;
}

.feature-section h2{
    margin: 0;
    color: #003049;
    font-size: 1.4rem;
}

.feature-section p{
    font-size: 1.2rem;
}

/* How it Works Section */
.how-section{
    background-color: #e6e9eb;
    padding: 2rem 4rem;
}

.how-container{
    width: 80%;
    margin: 2rem auto;
}

.how-section h2{
    font-size: 2rem;
    color: #002233;
    text-align: center;
}

.steps{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    padding: 0 3rem;
}

.step-num{
    font-size: 3.2rem;
    color: #809199;
    text-align: center;
}

.step-title{
    text-align: center;
    font-size: 1.6rem;
    color: #002233;
}

.step-text{
    font-size: 1.2rem;
}

/* Testemonial Section */
.testemonial-section h2{
    font-size: 2rem;
    color: #002233;
    text-align: center;
    margin-bottom: 4rem;
}

.testemonial-section{
    width: 90%;
    padding: 2rem 4rem;
    margin: 0rem auto;
}

.testemonials{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.testemonial{
    text-align: center;
    border-radius: 24px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    padding: 1rem;
}

.testemonial-section img{
    width: 8rem;
    height: 8rem;
    border-radius: 10000px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

.blockquote{
    font-size: 1.2rem;
    font-style: italic;
    color: #002233;
}

.testemonial-section p{
    text-align: right;
    font-size: 1rem;
    color: #002233;
}

/* Last call to action section */
.last-cta{
    padding: 2rem 6rem;
    text-align: center;
    margin: 0 0 4rem 0;
}

.last-cta p{
    font-size: 1.4rem;
    color: #00141f;
}

.last-cta a:link,
.last-cta a:active,
.last-cta a:visited{
    font-size: 1.2rem;
}

.last-btn{
    color: #00141f;
}

.last-btn:hover{
    background-color: #003049;
    color: #ccd6db;
}

/* Footer Secton */
.footer-section {
    background-color: #002233;
    color: #ccd6db;
    padding: 1rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.footer-address h4,
.footer-social h4,
.footer-nav h4 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    color: #99ccff;
}

.footer-address ul,
.footer-social ul,
.footer-nav ul {
    list-style: none;
    padding: 0;
}

.footer-address li,
.footer-social li,
.footer-nav li {
    margin-bottom: 0.4rem;
    font-size: 1rem;
}

.footer-social a,
.footer-nav a {
    color: #ccd6db;
    text-decoration: none;
    transition:300ms;
}

.footer-social a:hover,
.footer-nav a:hover {
    color: #99ccff;
}

.footer-copyright {
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
}
